[Unit]
Description=YugaByteDB TServer Service
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
ExecStart={{ install_location }}/bin/yb-tserver --flagfile {{ install_location }}/conf/tserver.conf
ExecReload=/bin/kill -SIGHUP $MAINPID
LimitCORE=infinity
LimitNOFILE=230000 
LimitNPROC=12000
MemoryLimit=3072M
TimeoutStopSec=60
RestartForceExitStatus=SIGPIPE
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target